<!DOCTYPE html>
<html>

<head>
    <title>Applications</title>
</head>
<link rel="stylesheet" href="css/applied.css">

<body>
    <div class="outer">
        <div class="inner">
            <h1>APPLICATION</h1>
    <h2><%= usr %></h2>
    <br>
    <h2><%= pos %></h2>
    <form action="/applied" method="POST">
        
        <input name="usr" type="hidden" value="<%= usr %>">
        <input name="comp" type="hidden" value="<%= comp %>">
        <input name="pos" type="hidden" value="<%= pos %>">
        <button type="submit">All Applications</button>
    </form>
    <ul>
        <li onclick="history.back()">Back</li>
    </ul>
    </div>
    </div>
    </body>
    </html>


    