<!DOCTYPE html>
<html>

<head>
    <title>Company Added</title>
</head>

<body>

    <% if (mtype=="error" ) { %>
        <h3 style="color:red">
            <%= message %>
        </h3>
        
       <% } %>
        <% if (mtype=="error" ) { %>
            <h3 style="color:green">
                <%= message %>
            </h3>

            <% } else { %>
                <h3>Your opening will be displayed to users! <br> </h3>
                    Company Name: <%= person.c_name %> <br>
                    City: <%= person.city %> <br>
                    Type: <%= person.type %> <br>
                    

                    <form action="/compadd" method="post">
                        <input name="comp" type="text" value="<%= person.c_name %>" style="display:none;">
                        <button type="submit">Back to Dashboard</button>
                    </form>
                
                <% } %>

</body>

</html>