<!DOCTYPE html>
<html>

    <head>
        <title>Fulltime Jobs</title>
    </head>
    <link rel="stylesheet" href="css/fulltime.css">
    <script>
        function submitvals(a) {
            a.getElementsByTagName('form')[0].submit();
        }
    </script>

    <body>
        <ul>
            <li onclick="history.back()">Back</li>
            <li style="float:right; border-radius: 50px; background-color: aliceblue; color: black;">
                <%= cname %>
            </li>
        </ul>
        <div class="outer">
            <div class="inner">
                <h1>APPLICATIONS</h1>
                <% info.forEach(info=> {%>
                    <div class="listings" onclick="submitvals(this)">
                        <h2>
                            <%= info.username %>
                        </h2>
                        <p>
                            <%= info.category %>
                        </p>
                        <p>
                            <a href="<%= info.resume %>">Resume</a>
                        </p>
                        <p>
                            <%= info.status %>
                        </p>
                        <div style="display: flex; flex-direction: row;">
                            <% if(info.status=="not checked" ) {%>
                                <form action="/company_appl" method="post">
                                    <button type="submit" value="Accepted" name="result">Accept</button>
                                    <input name="ress" type="hidden" value="Accept">
                                    <input name="comp" type="hidden" value="<%= cname %>">
                                    <input name="appl_id" type="hidden" value="<%= info.appl_id %>">
                                </form>
                                <form action="/company_appl" method="post">
                                    <button type="submit" value="Rejected" name="result">Reject</button>
                                    <input name="ress" type="hidden" value="Reject">
                                    <input name="comp" type="hidden" value="<%= cname %>">
                                    <input name="appl_id" type="hidden" value="<%= info.appl_id %>">
                                </form>

                                <% }else{ %>
                                    Complete
                                    <% } %>
                        </div>
                    </div>
                    <% }) %>
            </div>

    </body>

</html>