<!DOCTYPE html>
<html>

    <head>
        <title>Fulltime Jobs</title>
    </head>
    <link rel="stylesheet" href="css/fulltime.css">
    <script>
        function submitvals(a) {
            a.getElementsByTagName('form')[0].submit();
        }
    </script>

    <body>
        <ul>
            <li onclick="history.back()">Back</li>
            <li style="float:right; border-radius: 50px; background-color: aliceblue; color: black;">
                <%= usrname %>
            </li>
        </ul>
        <div class="outer">
            <div class="inner">
                <h1>Fulltime Job Opportunities</h1>
                <% companies.forEach(companies=> {%>
                    <div class="listings" onclick="submitvals(this)">
                        <h2>
                            <%= companies.c_name %>
                        </h2>
                        <p>
                            <%= companies.city %>
                        </p>
                        <p>
                            <%= companies.category %>
                        </p>
                        <form action="/fulltime" method="post">
                            <input name="comp" type="hidden" value='<%= companies.c_name %>'>
                            <input name="name" type="hidden" value='<%= usrname %>'>
                        </form>
                    </div>
                    <% }) %>
    </body>

</html>


