<!DOCTYPE html>
<html>

    <head>
        <title>Dashboard</title>
    </head>
    <link rel="stylesheet" href="css/login_dashboard.css">

    <body>
        <% if (mtype=="error" ) { %>
            <h3 style="color:green">
                <%= message %>
            </h3>
            <a href="university_login">Try logging in again</a> <br><br>
            <a href="university_signup">Sign up if you're new!</a>
            <% } else { %>
                <div class="outer">
                    <div class="inner">
                        <ul>
                            <li
                                style="float:right;color: white;">
                                <% if(person) {%>
                                    <%= person.username %>
                                        <% } else { %>
                                            <%= uni %>
                                                <br>
                                                <% } %>
                            </li>
                        </ul>
                        <h1>Bienvenue</h1>
                        <% } %>
                            <form action="university_login_dashboard" method="post">
                                <% if(person) {%>
                                    <input name="uni" type="hidden" value="<%= person.username %>">
                                    <% } else { %>
                                        <input name="uni" type="hidden" value="<%= uni %>">
                                        <% } %>
                                            <button type="submit">View Applications</button>
                            </form>
                            <br>
                            <a href="adduniversity">Create another opening</a>
                            <br>
                            <div class="listings">
                                <a href="company_login">Logout</a>
                            </div>
                    </div>
                    </div>


    </body>

</html>